

body{
    background-color: rgb(217, 209, 248);
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Top Player Section*/
.container{
    width: 870px;
    height: 679px;
    background-color: white;
    
}
.top-player{
    
}
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 30px;
}
.players .player img{
    width: 56px;
    height: 56px;
}